@{
    ViewBag.Title = "Welcome";
}
<html>
<head>
    @section head{
        <style type="text/css">
            body {
                background-image: url('/Images/we3.jpg');
                margin: 0;
            }
        </style>
    }
</head>
<body>
    <h2 style="align-content: center"><b>Tailoring Management System</b></h2>
    <p> Hey There ! Welcome to Tailoring Management System </p>
    <p>A tailor is a tradesperson who makes, repairs, or alters clothing professionally, especially suits and men's clothing.
Although the term dates to the thirteenth century, tailor took on its modern sense in the late eighteenth century, 
 and now properly refers to makers of men's and women's suits, coats, trousers, and similar garments, commonly of wool, linen, or silk.
The term so used thus refers to a set of specific hand and machine sewing and pressing techniques that are unique to the construction of traditional jackets.
     Small and medium size retail tailors often provide their services internationally, with individual tailors and cutters travelling to various cities,
     allowing the customers to be met locally, measured on one trip, fitted on another and thereafter supplied with (a) garment(s) without the inconvenience
     of themselves travelling overseas. Even small tailoring businesses without an international following will sometimes
     travel from one city to another within their home country, and quite a number will visit customers at the customers' places of work or homes.</p>
    
</body>
</html>




